.citycard {
  background-color: navy;
  text-align: center;
  list-style-type: none;
  width: 50px;
  border: 5px solid red;
  padding: 10px;
  margin: 10px;
  color: white;
  width: 200px;
  align-content: center;
  display: inline-block;
  font-weight: bold;
}
